openai
requests
ipykernel
numpy
scipy
pydantic
tk
flask
flask-cors

# Audio
sounddevice # record audio
pydub       # record audio
simpleaudio # listen to audio
# also need to install ffmpeg from github to record audio
